
/* ================================= 
  Global Imports
==================================== */

@import 'base/index';
@import 'components/index';
@import 'layout/index';

/* ================================= 
  Media Queries
==================================== */

@include tablet {

  .col:nth-child(2n+1) {
      margin-right: 2%;
  }

  .col:nth-child(2n+3) {
      clear: left;
  }

  /* ---- Float clearfix ---- */
  .clearfix::after {
		content: " ";
		display: table;
		clear: both;
  }

   .mobile-only {
       display: none;
   }

}


@include desktop {

  .name {float: left;}

  .main-footer .main-nav li {
      padding: 0;
   }


  .main-footer {
    margin-left: 0;
    margin-right: 0;
  }


  .col:nth-child(2n+1) {
      margin-right: 0px;
  }

  .col:nth-child(2n+3) {
      clear: none;
  }

  .col1{
      margin-right: 1.55% !important; 
  }

  .col2{
      margin-right: 1.55% !important; 
   }

   .col3{
      margin-right: 0px;
   }

}
