/* ---- Layout Containers ---- */


.container {
	padding-left: 1em;
	padding-right: 1em;
    margin: 0 auto;
}

.banner {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.main-header {
	padding-top: 1.2em;
	padding-bottom: 1.5em;
}

.main-footer {
	padding: 2em 0 4em 0;
	margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 1em;
    margin-right: 1em;
}

.main-footer .container {
    border-top: 1px solid #e7e7e7;
    padding-top: 25px;
    padding-left: 0px;
    padding-right: 0px;
}

.main-footer .main-nav {
    display: none;
}

.col {
  margin-top: 25px;
  margin-bottom: 25px;
  border: none;
}

.col h3 {
    text-align: center;
}

.col p {
    text-align: center;
}

.col img {
   max-width: 715px;
   width: 100%;
   margin-bottom: 30px;
   box-shadow: 5px 5px 2px #888888;
}

.portfolio {
  background-color: #ffffff;
  padding-bottom: 25px;
  padding-top: 50px;
  padding-left: 1em;
  padding-right: 1em; 
}

.contact {
   padding-top: 50px;
   padding-left: 1em;
   padding-right: 1em;
}

.contact p {
    text-align: center;
}
