/* ---- Page Elements ---- */

.logo {
	/* width: 200px; */
    border: 1px solid #888888;
}

h1.headline {
     padding: 0;
     margin-bottom: 0;
  
}

h2.title {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1em;
    margin-bottom: 30px;
}

.col h3 {
    color: cadetblue;
}

.tagline {
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
}