/* ---- Page Elements ---- */

.logo {
	/* width: 200px; */
    border: 1px solid $grey;
    @include tablet {
	  float: right;
      width: 288px;
    }
    @include desktop {
      width: 367px;
    }
}

h2.title {
    text-align: center;
    text-transform: uppercase;
    font-size: $font-semi-big;
    margin-bottom: 30px;

    @include tablet {
	  margin-bottom: 25px;
    }

}


.col h3 {
    color: cadetblue;
}

.tagline {
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;

    @include tablet {
       text-align: left;
       margin-left: 0px;
       margin-right: 25px;
       width: 53%;
   }

}