

/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow:none;
}


body {
	font-family: $stack-helvetica;
	/*line-height: 1.6; */
    background-color: $alabaster;
	color: $mine-shaft;
    /*font-weight: 400;*/
}

p {
	font-size: $font-semi-small;
	margin-bottom: 1.8em;
}

h1,
h2,
h3 {
	color: $tundora;
    font-family: $stack-abolition;
}

h2,
h3 {
	margin-top: 0;
}

a {
  text-decoration: none;

  &:link {
    color: $tundora;
  }

  &:visited {
    color: $purple;
  }

  &:hover {
    color: $mustard;
  }
}


img {
	max-width: 100%;
}
